<%= form_for([@post, @post.comments.build]) do |f| %>
									<!-- .build is like .new but used for through associations -->
	<p>
		<%= f.label :name %> <br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :body %> <br>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>