<h1>New Post Page</h1>

<%= form_for :post, url: posts_path do |f| %>
	<ul>
			<% @post.errors.full_messages.each do |error|%>
				<li><%= error %></li>
			<% end %>
	</ul>

	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>

	<%= f.label :body %>
	<%= f.text_area :body %>
	<br>

	<%= f.submit %>
<% end %>
